<!DOCTYPE html>
{% extends 'base.html' %}
<!-- {% load static %} -->


{% block content %}

  <h1> LIST OF ALL USERS{{ item }}</h1>

  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Email</th>
        <th scope="col">Age</th>
      </tr>
    </thead>
    <tbody>

      {% for item in all %}
      <tr>
        <th scope="row">1</th>
        <td>{{ item.fname }}</td>
        <td>{{ item.lname }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.age}}</td>
      </tr>
{% endfor %}
    </tbody>
  </table>

{% endblock %}
